@model SmiteNoobLeague.Models.AdminPageViews.AccountViewModels.AdminAccountEditView

<div class="modal-header">
    <h5 class="modal-title">Create new account</h5>
    <button type="button" class="close" onclick="ManageAccountPopUp()" aria-label="Return">
        <i class="fas fa-arrow-left"></i>
    </button>
</div>
<div class="modal-body">
    <form id="AccountForm" asp-action="EditAccount" asp-controller="Admin" enctype="multipart/form-data" data-ajax="true" data-ajax-update="#AccountFormContent" data-ajax-method="post" data-ajax-failure="EditAccountFailed">
        <input asp-for="@Model.AccountID" hidden />
        <div class="form-group">
            <label>* Account Name</label>
            <input asp-for="@Model.AccountName" class="form-control" />
            <span asp-validation-for="@Model.AccountName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label>* Password</label>
            <div class="input-group">
                <input asp-for="@Model.AccountPassword" type="password" id="pw" class="form-control" />
                <div class="input-group-append">
                    <button type='button' class="btn btn-primary" onclick='document.getElementById("pw").value = generatePassword(12)'>Generate Password</button>
                </div>
            </div>
            <span><input type="checkbox" onclick="togglePW('#pw')">Show Password</span>
            <span asp-validation-for="@Model.AccountPassword" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label>* E-mailaddress</label>
            <input asp-for="@Model.AccountEmail" type="email" class="form-control" />
            <span asp-validation-for="@Model.AccountEmail" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label>* Linked player account</label>
            <div class="input-group">
                <input asp-for="@Model.PlayerName" id="PlayerName" class="form-control" />
                <div class="input-group-append">
                    <button type="button" class="btn btn-primary" id="PlayerButton" onclick="SearchPlayer('#Player')">Search player</button>
                </div>
            </div>
            <span asp-validation-for="@Model.PlayerName" class="text-danger"></span>
            <input asp-for="@Model.PlayerID" id="PlayerID" class="form-control" hidden>
            <span asp-validation-for="@Model.PlayerID" class="text-danger"></span>
            <input asp-for="@Model.PlayerPlatformID" id="PlayerPlatformID" class="form-control" hidden>
            <span asp-validation-for="@Model.PlayerPlatformID" class="text-danger"></span>
        </div>
        @* End of Edit Team Form *@
        <p>* is required</p>
        <input type="submit" id="EditAccountButton" value="Save changes" hidden />
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary" onclick="$('#EditAccountButton').click()">Save changes</button>
</div>
@if (!Model.PlayerEmpty)
{
    <script>
    $(function () {
         SendBackID(@Model.PlayerID,'#Player','@Model.PlayerName',@Model.PlayerPlatformID);
    });
    </script>
}